html::before {
    content: unset !important;
}

.ab-Test-Pilot-test-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999999999999999;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 20px;
        border: 1px solid #e5e5e5;
        width: 100%;
    }

    &__content-details {
        display: flex;
        gap: 20px;
        width: 100%;

        &>div {
            flex: 1;
            padding: 10px;
        }
    }
}